.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;

}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
}
.navbar-menu li{
    cursor: pointer;

}
.navbar-right{
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar button{
  background: transparent;
  font-size: 16px ;
  color: #3b3d42;
  border: 1px solid rgb(139, 130, 129);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}
.navbar button:hover{
  background-color: #bebaba;
  color: white ;
}
.navbar .active{
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e ;
}
.navbar-search-icon{
    position: relative;

}
.navbar-search-icon .dot{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
}
.navbar-profile{
  position: relative;
  cursor: pointer;
}
.nav-profile-dropdown{
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2e7;
  padding: 12px 25px;
  border-radius: 4px;
  border: none;
  outline: none;
  list-style: none;
  cursor: pointer;
}
.nav-profile-dropdown li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-profile-dropdown img{
  width: 20px;
}
.nav-profile-dropdown li:hover{
  color: tomato;
}
@media (max-width:1050px){
  .navbar .log{
    width: 120px;
  }
  .navbar-menu{
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right{
    gap: 30px;
  }
  .navbar-right img{
    width: 22px;
  }
  .navbar-right button{
    padding: 8px 25px;
    
  }
}

@media (max-width:900px){
  .navbar .log{
    width: 120px;
  }
  .navbar-menu{
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right{
    gap: 20px;
  }
  .navbar-right img{
    width: 20px;
  }
  .navbar-right button{
    padding: 7px 20px;
    font-size: 15px ;
  }
}

@media (max-width:750px){
  
  .navbar-menu{
    display: none;
  }
}